@font-face {
    font-family: roboto;
    src: url(../public/Roboto.ttf);
}

body {
    font-family: Roboto;
}

body{
    font-size: 1rem;
    text-align: center;
    color: white;
    font-family: Roboto;
}
